/node_modules
/public/hot
/public/storage
/public/_file_excel
/public/_file_pengumuman
/public/_file_tagihan
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
